.flashcard {
    width: 80%;
    padding-block: 16.5%;
    left: 0vw;
}

.entercard-right {
    animation-name: enter-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}

.entercard-left {
    animation-name: enter-left;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}


.flip {
    animation-name: flipcard;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.flip-reverse {
    animation-name: flipcard-reverse;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.hide-text {
    display: none;
}

.definition {
    transform: rotateX(180deg);
}

.card-text {
    display: block;
    text-align: center;
}



@keyframes flipcard {
    from { 
        transform: rotateX(0deg);
        perspective: 40%;
        transform-style: preserve-3d;
    }
    to { 
        transform: rotateX(180deg);
        perspective: 40%;
        transform-style: preserve-3d;
    }
}

@keyframes flipcard-reverse {
    from { 
        transform: rotateX(180deg);
        perspective: 40%;
        transform-style: preserve-3d;
    }
    to { 
        transform: rotateX(0deg);
        perspective: 40%;
        transform-style: preserve-3d;
    }
}

@keyframes enter-right {
    from {
        left: 100vw;
    }
    to {
        left: 0vw;
    }
}

@keyframes enter-left {
    from {
        left: -100vw;
    }
    to {
        left: 0vw;
    }
}