.card-item {
    min-height: 4rem;
    height: fit-content;
}

.card-term,
.card-definition {
    width: 50%;
    text-align: center;
}

.card-toolbar {
    width: fit-content;
}

.card-toolbar button {
    width: 100%;
}