* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.page-margin {
  margin: auto;
  width: 80%;
}

.divider-inline > * {
  margin-inline: 0.25rem !important;
}

.divider-block > * {
  margin-block: 0.25rem !important;
}

@media screen and (max-width: 600px) {
  .page-margin {
    margin: auto;
    width: 100%;
  }
}
